<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Internet permission -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="softlab_auth"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- Facebook SDK Config -->
        <meta-data
    android:name="com.facebook.sdk.ApplicationId"
    android:value="765242729857157"/>

        <meta-data
    android:name="com.facebook.sdk.ClientToken"
    android:value="6ae4084b8df7765e1890e399effa724e"/>

        <!-- Facebook Activity -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="softlab_auth" />

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"/>

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <!-- Flutter embedding -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>

    <!-- Queries (keep as it is) -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>

</manifest>